/* 标准盒子布局 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 隐藏滚动条 */
*::-webkit-scrollbar {
    display: none;
}

* {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

/* 边框擦除 */
button {
    border: none;
}

/* 去掉下划线 */
a {
    text-decoration: none;
}